body {
  background: #f0f3f8;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.home-page::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #9AAECE, transparent);
  z-index: 99;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

li {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.img-home {
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, .7));
}

/* Cursor personalizado */
.custom-cursor {
  position: fixed;
  pointer-events: none;
  /* No intercepta eventos */
  width: 20px;
  height: 20px;
  background: rgba(197, 196, 196, 0.192);
  border: 2px solid rgba(151, 152, 153, 0.5);
  border-radius: 50%;
  transform: translate(-60%, -60%);
  /* Centra el cursor */
  mix-blend-mode: difference;
  /* Opcional: para un mejor contraste */
  transition: background-color 0.2s, border-color 0.2s;
  /* Suaviza los cambios de color */
  z-index: 9999;
  /* Asegura que el cursor esté sobre otros elementos */
}

/* Estilo para cuando el cursor está sobre elementos interactivos */
.custom-cursor:hover {
  background-color: rgba(163, 163, 163, 0.178);
  border-color: rgba(179, 179, 179, 0.116);
}

/* NAVBAR */
.navbar {
  background: rgba(255, 253, 253, 0.856);
}

.navbar-button-container {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.navbar-button-container.visible {
  opacity: 1;
}

.navbar-menu {
  z-index: 50;
  /* Asegúrate de que el menú esté encima del overlay */
}

.navbar-overlay {
  z-index: 40;
  /* Asegúrate de que el overlay esté debajo del menú */
  pointer-events: none;
  /* Evita que el overlay bloquee los clics cuando no se muestra el menú */
}



/* WHATSAPPBUTTON */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 24px;
  z-index: 999;
}

.whatsapp-button-container {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  /* Asegúrate de que esté por encima de otros elementos */
}

.whatsapp-button-container.visible {
  opacity: 1;
}