html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.home-page::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #9AAECE, transparent);
  z-index: 999;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
}

.img-home {
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, .7));
}

/* Cursor personalizado */
.custom-cursor {
  position: fixed;
  pointer-events: none;
  /* No intercepta eventos */
  width: 20px;
  height: 20px;
  background: rgba(197, 196, 196, 0.842);
  border: 2px solid rgba(151, 152, 153, 0.5);
  border-radius: 50%;
  transform: translate(-60%, -60%);
  /* Centra el cursor */
  mix-blend-mode: difference;
  /* Opcional: para un mejor contraste */
  transition: background-color 0.2s, border-color 0.2s;
  /* Suaviza los cambios de color */
  z-index: 9999;
  /* Asegura que el cursor esté sobre otros elementos */
}

/* Estilo para cuando el cursor está sobre elementos interactivos */
.custom-cursor:hover {
  background-color: rgba(109, 109, 109, 0.178);
  border-color: rgba(58, 58, 58, 0.7);
}

/* HERO */
.hero {
  background-image: linear-gradient(to top, #f2f5fa, #edf1f7, #e8ecf4, #e3e8f2, #dee4ef, #d6deeb, #cfd8e7, #c7d2e3, #bbc9dd, #afbfd8, #a4b6d2, #98adcd);
}